<!DOCTYPE html>
<html>
	<head>
		<style type="text/css">
			body {
				background-color: skyblue;
			}
			 nav ul {
			 	background-color: tomato;
			}

			strong {
				color: red;

			}
		    
			

		</style>
		<title>Human migration</title>
		<link type="text/css" rel="stylesheet" href="styles.css"/>
		<meta charset="utf-8"/>
	</head>
	<body  background="https://ec.europa.eu/esf/transnationality/sites/esf/files/events/pictures/migration-test-rectangle.jpg">
	<nav>  
	  <ul>
	  <li><a href="/human_migration">Human migration</a></li> 
	  <li><a href="/animal_migration">Animal migration</a></li>
	  </ul>
	</nav>
	  <header>
	    
	  </header>
	  <main>

	  <h1><mark>Migration</h1></mark> 
	 <img src="https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/2QQOex4/videoblocks-migration-animated-word-cloud-text-design-animation-kinetic-typography_sbabdktx_thumbnail-full15.png" width="250" height="250" alt="Computer Hope">
	  <p><mark>This is is a website on migration.</mark></p>
	    
	  <p><mark>The creater was inspierd to create this website because of <br>
	  his school as they were learning about migration.</mark> </p>
	 
	  <h5><mark>The creator of the website is Ayush</mark></h5>
	  
	  </main>
	  <footer>
	    
	  <mark> <a id='Form' href="https://docs.google.com/forms/d/1UAvCSGL0XHLo9oOPkR9ziLcpU5esSZnTOLM_QF7mH3M/edit">If you wold like to write a artical then fill this form</a> </mark>
	  </footer>
	</body>
</html>
