<!DOCTYPE html>
<html>
	<head>
		<style type="text/css">
			body {
				background-color: skyblue;
			}
			 nav ul {
			 	background-color: tomato;
			}

			strong {
				color: red;

			}
		
		</style>
		<title>Human migration</title>
		<link type="text/css" rel="stylesheet" href="styles.css"/>
		<meta charset="utf-8"/>
	</head>
	<body>
	<nav>  
	  <ul>
	  <li><a href="human_migration.html">Human migration</a></li> 
	  <li><a href="my_html_code.html">Animal migration</a></li>
	  </ul>
	</nav>
	  <header>
	    
	  </header>
	  <main>
	  <h1>Migration</h1> 
	  <p>This is is a website on migration</p>    
	    
	  </main>
	  <footer>
	    
	  </footer>
	</body>
</html>

