<!DOCTYPE html>
<html>
	<head>
		<style type="text/css">
			body {
				background-color: skyblue;
			}
			nav ul {
				background-color: tomato;
			}

			strong {
				color: red;
			}
		
		</style>
		<title>Human migration</title>
		<link type="text/css" rel="stylesheet" href="styles.css"/>
		<meta charset="utf-8"/>
	</head>
	<body>
	 
	 </nav> 
	  <header>
	    <nav>
	 <ul>
	 <li><a href="/">Home</a></li>
     <li><a href="/animal_migration">Animal migration</a></li>
	 </ul> 
	  
	  </header>
	  <main>
	  <script type="text/javascript">
	  	let a = confirm("IS YOUR AGE 5 OR ABOVE")
   if (a == false) {
       window.close()
   }
	  </script>
	 

	  
	  <p>
	  <strong>What is migration</strong> <br>
	  Miration is when you move from one place to another.
      </p>
      <p>
	  <strong>What are refugees</strong> <br>
	  Refugees are people that migrate because of war floods and some countries help the. <br>
	  by giving money food and clothes <br>

	  </p>
	  <img src="https://cdn.cnn.com/cnnnext/dam/assets/160303085722-restricted-02-migrant-crisis-0303-super-169.jpg" />
      
      <p>
      	<strong>What are the reasons people migrate</strong> <br>
      	One of the reasons people migrate is because of <br>
      	less jobs, family, education, house, because of war floods less food and lot's of other reasons.
	  
	  


	  </p>
	    
	  <p><strong>Do you know that migrating is a good thing because <br> </strong>
	  	 you can explore new culture, maybe meet your family <br>
	  	 or you might get a opportunity in the new place. <br>
	  </p>  
	  

	  </main>
	  <footer>
	    
	  </footer>
	</body>
</html>


